.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  height: 600px;
  width: 1500px;
  background-color: aliceblue;
  position: relative;
}
.purpleRect {
  height: 200px;
  width: 200px;
  background-color: purple;
  position: absolute;
  bottom: 10px;
  left: 650px;
}
.whiteRect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  width: 1450px;
  background-color: white;
  border: 2px solid black;
  margin: 20px;
  top: 50px;
  position: absolute;
}
.blueRect {
  height: 100px;
  width: 100px;
  background-color: blue;
  margin: 50px;
}
.green {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  position: relative;
}
.greenRect {
  height: 150px;
  width: 150px;
  background-color: green;
  position: relative;
}
.orangeRect {
  height: 30px;
  width: 30px;
  background-color: orange;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
